# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# Dependencies / builds
node_modules/
dist/
build/

# Temporary files
*.tmp
*.temp
